# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform CLI working directory
.terraform/

# Crash logs
crash.log

# Sensitive variable files
*.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
